*{
  color: white;
}
body {
  background: url("https://avatanplus.com/files/resources/original/57b05b0e1138115688e3aef7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
}
